
  
  {% extends "base.html" %}
  {% load static %}
  {% block title %}
  Management
  {% endblock title %}
  
  {% block content %}
  <div class="inner-banner">
      <section class="w3l-breadcrumb text-left">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> Management</li>
          </ul>
        </div>
      </section>
    </div>
  
  
    <section class="w3l-team-main py-5" id="team">
      <div class="container py-lg-4">
          <div class="title-content text-left mb-lg-5 mb-4">
              <h6 class="sub-title">Our Team</h6>
              <h3 class="hny-title">Management</h3>
          </div>
          <div class="row inner-sec-w3layouts-w3pvt-lauinfo">
            {% if management %}
            {% for item in management %}
              <div class="col-md-4 col-6">
                  <div class="team-grids text-center">
                      <img src="{{item.leadimg.url}}" class="img-fluid" alt="">
                      <div class="team-info">
                          <div class="caption">
                              <h4>{{ item.name }}</h4>
                              <h6>{{ item.position }}</h6>
                          </div>
                      </div>
                  </div>
                  <br>
                </div>
                {% endfor %}              
                {% endif %}
          </div>
      </div>
  </section>
  
    
  {% endblock content %}