{% extends "base.html" %}
{% load static %}
{% block title %}
Time Table
{% endblock title %}

{% block content %}
<div class="inner-banner">
    <section class="w3l-breadcrumb text-left">
      <div class="container">
        <ul class="breadcrumbs-custom-path">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Time Table</li>
        </ul>
      </div>
    </section>
  </div>
  <section style="margin-top: -6rem !important;"  class="about-section py-5">
    <div class="container py-md-5 py-4">
        
        
        <div class="row mt-sm-5 mt-4">
            {% if post %}
                <div class="col-lg-8 mt-lg-0 mt-4 ">
                    {% if post.leadimg %}
                    <img src="{{post.leadimg.url}}" alt="" class="img-fluid radius-image py-3">
                    {% endif %}
                    <h3 class="title-style mb-4">{{ post.title}}</h3>
                    <p>{{post.body | safe}}</p>
                </div>     
            {% endif %}

        </div>
        
    </div>
</section>
{% endblock content %}