{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="//fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&display=swap"
            rel="stylesheet">
           
            <link href="{% static 'fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&display=swap' %}" rel="stylesheet" type="text/css">        
            <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />

            <link  href="{% static 'images/kingnzelogo.jpg' %}" rel="shortcut icon" type="img/x-icon"> 

    </head>
    
    <title>
        {% block title %}
          
        {% endblock title %}
    </title>
  </head>
  <body>
    {% include 'nav.html' %}
    
    {% block content %}

    {% endblock content %}

    {% include 'footer.html' %}
  </body>
</html>